{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jasmine": true
  },
  globals: {
    "jest": false,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "max-len": 0,
    "camelcase": [0, {"properties": "always"}],
    "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack/webpack.test.babel.js"
      }
    }
  }
}
